// VALORES MEDIA QUERY - BREAK POINT
$container_small: 576px;
$container_medio: 765px;
$container_large: 990px; 
$container_extra_large: 1200px; 
// COLUNAS GRID
$colunas: 12;
// CORES
$preto: #333333;
$azul: #116290;
$roxo: #513395;
$amarelo: #f8d000;